@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
*{
  box-sizing: border-box;
}
body{
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}
main{
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
.counter{
  border: 5px solid #000;
  width: 400px;
  border-radius: 5px;
  padding: 20px;
  margin-right: 100px;

}
input{
  outline: none;
  width: 100%;

}
.counter_entry-text{
  height: 139px;
  margin: 0px 0px 15px 0px;
  border: 3px solid #000;
  text-align: center;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorInput{
  border: 2px solid red;
}
.errorText{
  color: red;
}
.valueLine + .valueLine{
  margin-bottom: 20px;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
img.lamb{
  width: 8%;
  height: 8%;
}
img:nth-child(even).lamb{
  animation: spin 5s linear 0s infinite;
}
@keyframes reversed_spin {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}
img:nth-child(odd).lamb{
  animation: reversed_spin 5s linear 0s infinite;
}
.lamb_inner{
  padding: 0px 20px;
 display: flex;
  justify-content: space-between;
}
p{
  color: aliceblue;
}